[user]
	name = Theo Brigitte
	email = theo.brigitte@gmail.com
	signingkey = 62A81E0F3445587C
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
        pager = less -FX
[alias]
	lg = log --graph --pretty=format:'%Cgreen%h%Creset -%Creset %s%C(yellow)%d %Cblue(%aN, %cr)%Creset' --abbrev-commit --date=relative
	heir = log --all --graph --decorate --oneline --simplify-by-decoration
[push]
	default = upstream
[url "git@github.com:"]
	insteadOf = https://github.com/
[pager]
	status = true
