Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! :: JellyX :: A delicious collision of Jellybeans and Xoria256
! heavily based on bubblegum, by Kyla
! https://bbs.archlinux.org/viewtopic.php?pid=1033513#p1033513
*color0: #000000
*color1: #d75f5f
*color2: #00af87
*color3: #afd75f
*color4: #5fafd7
*color5: #8787af
*color6: #00afd7
*color7: #ffffff
*color8: #0a0a0a
*color9: #d787af
*color10: #5faf5f
*color11: #d7af5f
*color12: #87afd7
*color13: #8787d7
*color14: #87afff
*color15: #ffffff
*background: #000000
*foreground: #a8a8a8

URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.font: xft:DejaVu Sans Mono:size=11:antialias=true
URxvt.boldFont: xft:DejaVu Sans Mono:bold:size=11:antialias=true
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.termName: rxvt
URxvt.iconFile: /usr/share/icons/Numix-Square/48/apps/terminal.svg

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
