! Material design color scheme
! black
*color0: #435B67
*color8: #A1B0B8
! red
*color1: #FC3841
*color9: #FC746D
! green
*color2: #5CF19E
*color10: #ADF7BE
! yellow
*color3: #FED032
*color11: #FEE16C
! blue
*color4: #37B6FF
*color12: #70CFFF
! magenta
*color5: #FC226E
*color13: #FC669B
! cyan
*color6: #59FFD1
*color14: #9AFFE6
! white
*color7: #FFFFFF
*color15: #FFFFFF

! Xft
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.cursorBlink: 1

! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
!URxvt*depth: 32

! Use the specified colour as the windows background colour [default White]; option -bg.
!URxvt*background: [90]#272822
URxvt*background: [90]#1D262A

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
!URxvt*foreground: #f8f8f2
URxvt*foreground: #E7EBED

! Use the specified colour for the colour value n, where 0-7 corresponds to low-intensity (normal) colours and 8-15 corresponds to high-intensity (bold = bright foreground, blink = bright
! URxvt*colorn: colour

!
URxvt*colorBD: #EAEAEA

! Use the specified colour to display bold or italic characters when the foreground colour is the default. If font styles are not available (Compile styles) and this option is unset, reverse video
URxvt*colorIT: #EAEAEA

! Use the specified colour to display underlined characters when the foreground colour is the default.
! URxvt*colorUL: colour

! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground colour.
! URxvt*underlineColor: colour

! If set, use the specified colour as the background for highlighted characters. If unset, use reverse video.
URxvt*highlightColor: #4E6A78

! If set and highlightColor is set, use the specified colour as the foreground for highlighted characters.
URxvt*highlightTextColor: #E7EBED

! Fade the text by the given percentage when focus is lost; option -fade.
! URxvt*fading: number

! Fade to this colour, when fading is used (see fading:). The default colour is black; option -fadecolor.
! URxvt*fadeColor: colour

! Use the specified colour for the scrollbar [default #B2B2B2].
! URxvt*scrollColor: colour

! Use the specified colour for the scrollbars trough area [default #969696]. Only relevant for rxvt (non XTerm/NeXT) scrollbar.
! URxvt*troughColor: colour

! The colour of the border around the text area and between the scrollbar and the text.
! URxvt*borderColor: colour

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when trying to find glyphs for characters. The first font defines the cell size for characters;
URxvt*font: xft:Inconsolata:size=12
URxvt*boldFont: xft:Inconsolata:bold:size=12

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors favourite.
! URxvt*scrollstyle: mode

! Set the scrollbar width in pixels.
! URxvt*thickness: number

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: false

! True: place the scrollbar on the right of the window; option -sr.  False: place the scrollbar on the left of the window; option +sr.
! URxvt*scrollBar_right: boolean

! True: display an rxvt scrollbar without a trough; option -st.  False: display an rxvt scrollbar with a trough; option +st.
! URxvt*scrollBar_floating: boolean

! Align the top, bottom or centre [default] of the scrollbar thumb with the pointer on middle button press/drag.
! URxvt*scrollBar_align: mode

! True: scroll to bottom when tty receives output; option -si.  False: do not scroll to bottom when tty receives output; option +si.
URxvt*scrollTtyOutput: false

! True: scroll with scrollback buffer when tty receives new lines (i.e.  try to show the same lines) and scrollTtyOutput is False; option -sw. False: do not scroll with scrollback buffer when tty
URxvt*scrollWithBuffer: true

! True: scroll to bottom when a non-special key is pressed. Special keys are those which are intercepted by rxvt-unicode for special handling and are not passed onto the shell; option -sk. False: do
URxvt*scrollTtyKeypress: true

! Save number lines in the scrollback buffer [default 64]. This resource is limited on most machines to 65535; option -sl.
URxvt*saveLines: 65535

! Specifies number of lines (pixel height) to insert between each row of the display [default 0]; option -lsp.
URxvt*lineSpace: 0
URxvt*letterSpace: 0

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls five lines [default].
! URxvt*mouseWheelScrollPage: boolean

! True: store tabs as wide characters. False: interpret tabs as cursor movement only; option "-ptab".
! URxvt*pastableTabs: boolean

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
! URxvt*cursorBlink: boolean

! True: Make the cursor underlined. False: Make the cursor a box [default]; option -uc.
! URxvt*cursorUnderline: boolean

! True: blank the pointer when a key is pressed or after a set number of seconds of inactivity. False: the pointer is always visible [default].
! URxvt*pointerBlank: boolean

! Change the meaning of triple-click selection with the left mouse button. Instead of selecting a full line it will extend the selection to the end of the logical line only; option -tcw.
! URxvt*tripleclickwords: boolean

! Turn on/off secondary screen scroll (default enabled). If this option is enabled, scrolls on the secondary screen will change the scrollback buffer and, when secondaryScreen is off, switching
URxvt*secondaryScroll: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

URxvt.keysym.M-Up:           \033[1;3A
URxvt.keysym.M-Down:         \033[1;3B
URxvt.keysym.M-Right:        \033[1;3C
URxvt.keysym.M-Left:         \033[1;3D
! Specifies the program to be started with a URL argument. Used by the "selection-popup" and "matcher" perl extensions.
! URxvt*url-launcher: string


URxvt*iso14755: False
URxvt.iconFile: /usr/share/icons/Numix-Square/48/apps/terminal.svg
