! Material design color scheme
! black
*color0: #435B67
*color8: #A1B0B8
! red
*color1: #FC3841
*color9: #FC746D
! green
*color2: #5CF19E
*color10: #ADF7BE
! yellow
*color3: #FED032
*color11: #FEE16C
! blue
*color4: #37B6FF
*color12: #70CFFF
! magenta
*color5: #FC226E
*color13: #FC669B
! cyan
*color6: #59FFD1
*color14: #9AFFE6
! white
*color7: #FFFFFF
*color15: #FFFFFF

! Xft
!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

